body {
  background-color: #010113;
  font-family: "Montserrat", sans-serif;
}

/*NAVBAR*/
.navbar {
  background-color: #01010E;
  color: white;
}

.navbar-brand span {
  color: rgb(216, 39, 187);
}

/*
.menu{
    display: flex;
    justify-content: space-around;
  } */

/*MAIN*/
.main {
  margin: 45px auto;
  max-width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
  color: white;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color: rgb(216, 39, 187);
}

.buttoms {
  padding: 5px 15px;
  background-color: rgba(241, 64, 212, 0.774);
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(215, 41, 163, 0.69);
  text-decoration: none;
}

.buttoms:hover {
  background-color: white;
  box-shadow: none;
}

.main img {
  border: 7px solid rgb(216, 39, 187);
  border-radius: 150px 160px;
  width: 350px;
  z-index: 1;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-content {
    text-align: center;
    margin: 2em 2em
  }

  .main img {
    width: 70%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 150px 160px;
    border-width: 5px;
  }

  .buttoms {
    display: block;
    margin: 0 auto;
    text-decoration: none;
  }
}

/*ABOUT*/
.about {
  display: flex;
  flex-direction: column;
  background-color: #020120;
  color: white;
  padding: 1em;
  max-width: 100%;
}

.about-info {
  padding: 1em;
}

.about-info h2 {
  font-size: 2em;
  color: #fff;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(216, 39, 187);
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    height: auto;
    align-items: center;
    padding: 3em;
  }

  .about-info {
    flex: 1;
  }
}

/*PORTFOLIO*/

.contenedor {
  padding-bottom: 120px;
}

.card {
  max-width: 900px;
  background-color: #02011E;
  color: white;
}

.portfolio-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(216, 39, 187);
  padding: 2em 0em 0em 4em;

}

.portfolio-heading h2 {
  font-size: 2em;
  color: #fff;
}

.card_proyect-links {
  padding-left: 1em;
}

.card_proyect-links a {
  color: white;
  text-decoration: none;
}

.card_proyect-links i {
  font-size: 1.3em;
}

.buttoms-portfolio {
  padding-top: 1px;
  margin-right: 0px;
  cursor: pointer;
}

.play {
  padding-top: 1px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.9em;
}
/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 2em;
  background-color: #020120;
  max-width: 100%;
}

.footer-content h3 {
  font-size: 2.0em;
  color: white;
}

.footer-content h5 {
  font-size: 1.2em;
  text-align: center;
  color: white;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}