body {
  background-color: #010113;
  font-family: "Montserrat", sans-serif;
}

/*NAVBAR*/
.navbar {
  background-color: #01010E;
  color: white;
}

.navbar-brand span {
  color: rgb(216, 39, 187);
}

/*
.menu{
    display: flex;
    justify-content: space-around;
  } */

/*MAIN*/
.main {
  margin: 45px auto;
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
  color: white;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color: rgb(216, 39, 187);
}

.buttoms {
  padding: 5px 15px;
  background-color: rgba(241, 64, 212, 0.774);
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(215, 41, 163, 0.69);
}

.buttoms:hover {
  background-color: white;
  box-shadow: none;
}

.main img {
  border: 7px solid rgb(216, 39, 187);
  border-radius: 150px 160px;
  width: 350px;
  height: 520px;
  z-index: 1;
}

/*ABOUT*/
.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 59v;
  width: 100%;
  align-items: center;
  background-color: #020120;
  color: white;
}

.about img {
  width: 40%;
  grid-column: 1/5;

}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #fff;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(216, 39, 187);
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

/*PORTFOLIO*/

.contenedor {
  padding-bottom: 120px;
}

.card {
  max-width: 900px;
  background-color: #02011E;
  color: white;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5em;
  color: rgb(216, 39, 187);
  padding: 1em 2em 0em;

}

.portfolio-heading h2 {
  font-size: 1em;
  color: #fff;
}

.card_proyect-links {
  padding-left: 1em;
}

.card_proyect-links a {
  color: white;
  text-decoration: none;
}

.card_proyect-links i {
  font-size: 1.3em;
}

.buttoms-portfolio {
  padding-top: 1px;
  margin-right: 0px;
  cursor: pointer;
}

.play {
  padding-top: 1px;
  margin-right: 10px;
  cursor: pointer;
}
/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  padding: 2em;
  background-color: #020120;
}

.footer-content h3 {
  font-size: 2.0em;
  color: white;
}

.footer-content h5 {
  font-size: 1.2em;
  text-align: center;
  color: white;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}